# Git
.git
.gitignore
.github

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Data
data/
*.csv
*.zip
*.pkl
*.h5
__pycache__/

# Notebooks
.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
*.swo

# Documentation
docs/
README.md
CHANGELOG.md
LICENSE

# Other
**/.DS_Store


ETL/
Arquitetura/
data/
ChatBot/
identidade_Visual/
modelo_previsao/
notebooks/
scripts/
Sprints/
Templates_Desafio/