<div class="main-content" style="min-height: 75% !important;">
    <div class="container-fluid chat-container">

            <div class="messages" #mensagensPainel>
                <div *ngFor="let msg of messages"
                    [ngClass]="{'user': msg.sender === 'user', 'bot': msg.sender === 'bot'}" class="message">
                    <div [innerHTML]="msg.text"></div>
                </div>
            </div>

    </div>
</div>
<footer-cmp (atualizaMensagensEmit)="atualizarMensagens()"></footer-cmp>